*-test
*.cdb
*.d
*.eml
*.o
*.private
*~
SRS.ipp
TAGS
accept_domains
allow
arcsign
arcverify
bad_recipients
bad_senders
block
body.html
body.txt
cdb-gen
dns_tool
fail_554
folders
forward
ghsmtp.private
ghsmtp.txt
ip-block
mail.*
mkm
msg
notes.txt
public_suffix_list.dat
sasl
smtp
smtp.key
smtp.pem
snd
socks5
temp_fail
test-credentials.ipp
