*-test
*.cdb
*.d
*.o
*~
SRS.ipp
accept_domains
bad_recipients
cdb-gen
dns_tool
forward
ghsmtp.private
ghsmtp.txt
mail.*
mkm
msg
notes.txt
sasl
smtp
smtp.key
smtp.pem
snd
socks5
temp_fail
test-credentials.ipp
