[project]
	description = Gene's SMTP server ? receive Internet mail with less fuss
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gene Hightower (gene-hightower)
[access "refs/for/refs/*"]
	read = group user/Gene Hightower (gene-hightower)
	push = group user/Gene Hightower (gene-hightower)
	label-Code-Review = -2..+2 group user/Gene Hightower (gene-hightower)
	label-Verified = -1..+1 group user/Gene Hightower (gene-hightower)
	rebase = group user/Gene Hightower (gene-hightower)
	removeReviewer = group user/Gene Hightower (gene-hightower)
	submit = group user/Gene Hightower (gene-hightower)
[access "refs/heads/*"]
	read = group user/Gene Hightower (gene-hightower)
	create = group user/Gene Hightower (gene-hightower)
	push = +force group user/Gene Hightower (gene-hightower)
	pushMerge = group user/Gene Hightower (gene-hightower)
[access "refs/tags/*"]
	push = +force group user/Gene Hightower (gene-hightower)
	pushTag = group user/Gene Hightower (gene-hightower)
	pushSignedTag = group user/Gene Hightower (gene-hightower)
